h1 {
  color: red;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;

}
th, td {
padding:4px 40px 2px 2px;
}

tr {
  text-align: left;
}

a:visited {
  color: black;
}

a:hover {
  background-color: orange;
  color: white;

}
button {
  background-color: lightskyblue;
}

a {
  text-decoration: none;
  color: black;
}
